* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: teal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
}

ul {
  margin: 0 0 0 1rem;
  padding: 1rem;
}

.SearchForm form {
  border-radius: .5rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.SearchForm input {
  width: 80%;
  border-radius: .5rem;
  line-height: 1.5;
  padding: .5rem;
  font-size: 20px;
}
.SearchForm button {
  background-color: #fff;
  border-radius: .5rem;
  padding: .5rem;
  font-size: 20px;
}
.DisplaySynonyms {
  background-color: #fff;
  border-radius: .5rem;
  margin: 2rem;
}

.display_heading {
  color: #fff;
  background-color: #002425;
  padding: 1rem 0 1rem 1.5rem;
  border-radius: .5rem .5rem 0 0;
  margin: 0;
}

/* CSS Debugger */

/* * { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue } */